<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>

    <p>
    Félicitations! Votre article "<%= @product.nom %>" est désormais en ligne sur notre plateforme.
    </p>
  </body>
</html>
